* {
  box-sizing: border-box;
}

/*Cabecera*/
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Buscador*/
header p#buscador {
  background-color: #e28788;
  width: 100%;
  height: 2.5em;
  color: #fecbad;
  padding: 9px;
  margin-top: -10%;
}

/*Iconos*/
header img {
  height: auto;
  width: 10%;
}
header img#icono {
  width: auto;
  height: 2.3em;
  margin-top: -15%;
}

/*Logo*/
header img.logo {
  height: auto;
  width: 50%;
  margin-top: -7%;
  margin-left: -7%;
}

/*Menú*/
label > div {
  background-color: white;
  cursor: pointer;
  margin-top: -3em;
}

/*Líneas del menú*/
div > span.hamburguer-line {
  display: flex;
  flex-direction: column;
  width: 2em;
  height: 2px;
  background-color: black;
  margin: 5px 0;
}

/*Carrusel de noticias*/
.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: 100%;
  width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: #428bca;
}

/*Cuerpo de la página*/
img {
  width: 393px;
  height: 133px;
}
h2 > a {
  text-decoration: none;
  color: black;
}
h5 {
  font-weight: lighter;
}
a{
  color: black;
  text-decoration: none;
}
nav {
  display: none;
} /*ESTÁ DESAPARECIDO PARA PODER TRATAR LA PÁGINA*/

/*Cuerpo de la página*/
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Título*/
h1 {
  color: #e28788;
  width: 100%;
}

article img {
  width: 100%;
  height: 12em;
}
article > span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
article a {
  font-size: 18px;
}
/*Iconos del árticulo*/
article img#icono,
article img#icono2 {
  height: auto;
  width: 100%;
}
article div {
  display: flex;
  width: 2em;
  margin-right: 3em;
}
article div > img {
  margin-right: 1em;
}

/*Número de páginas*/
main > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
main > ul > li {
  border: 1px solid black;
  background-color: #f0e4c9;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 42%;
  font-weight: bold;
}
main > ul > li#pass {
  border-radius: 0%;
}

/*Footer*/
footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f0e4c9;
  justify-content: space-around;
}

footer p#redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer p#redes > label {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

footer p#redes > img {
  width: 100%;
  height: auto;
  width: 5%;
}

footer small {
  justify-content: left;
}

/*Verisón tablet*/
@media all and (min-width: 600px) {
  /*Hamburguesa*/
  div > span.hamburguer-line {
    display: none;
  }

  /*Menú*/
  nav {
    display: block;
  }
  nav li {
    display: none;
  }

  header p#buscador {
    background-color: #fecbad;
    color: black;
    order: 3;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    justify-content: center;
  }
  ul.noticias {
    background-color: #e28788;
    width: 50%;
  }
  ul.cursos {
    background-color: #7293e0;
    width: 50%;
  }

  section{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   justify-content: space-between;
  }

  article{
    width: 45%;
    margin-top: 30px;
    margin-left: 3px;
  }
  article>a>img{
    width: 100%;
    height:65.3%;
  }
  article>span>h2{
    text-align: left;
    width: 50%;
  }
}
